services:
  # EtherSpy Unified Standalone Stack
  etherspy:
    image: ghcr.io/minglarn/etherspy-433/backend:latest
    container_name: etherspy-app
    restart: always
    privileged: true
    ports:
      - "5000:5000"
    devices:
      - "/dev/bus/usb:/dev/bus/usb"
    environment:
      - TZ=Europe/Stockholm
      - DB_PATH=/app/data/etherspy.db
      - PYTHONUNBUFFERED=1
    volumes:
      - ./data:/app/data
